@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.container{
    background: #111b21;
    height: 88vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conainerWrapper{
    background-color:white ;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;

}
form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

input{
    padding: 6px;
    outline: none;
    width: 300px;
}